# Configuration file

general {

    main {
        # The URL of the remote .json configs
        S:"Configs URL"=http://files.theclassicpack.com/special/tcp.json

        # Slug name of the modpack (Leave blank for non-Technic packs)
        S:"Modpack Slug"=tc-redux
    }

    logins {
        # Disables fireworks for special logins
        B:"Disable Fireworks"=false

        # Disables all special logins features
        B:"Disable Special Logins"=false
    }

}


